<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PasswordResetSettings" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="JiraSettings" type="System.Configuration.NameValueFileSectionHandler" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <add name="MetaBankEntities" connectionString="metadata=res://*/MetaBankModel.csdl|res://*/MetaBankModel.ssdl|res://*/MetaBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=usmrtpwsqlq01;initial catalog=MetaBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASSIST_Entities" connectionString="metadata=res://*/AssistModel.csdl|res://*/AssistModel.ssdl|res://*/AssistModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=usmrtpwsqlq01;initial catalog=ASSIST_BIEI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
  </appSettings>
  <PasswordResetSettings>
    <add key="EventLogEventId" value="1" />
    <add key="EventLogSource" value="Password Reset" />
  </PasswordResetSettings>

  <JiraSettings>
    <add key="TraceRequests" value="false" />
    <add key="TraceSwitchLevel" value="Verbose" />
    <!--Meta Related-->
    <add key="JiraMetaServiceName" value="JiraService.svc/" />
    <!--JIRA related-->
    <add key="JiraRestApiPath" value="rest/api/2/" />

    <add key="WorkflowSchemaIds" value=" 10093,  10370, 10670, 10871, 10872, 10970, 11070, 11170, 11371, 11373, 11374, 11375, 11377" />
    <add key="FieldTypesToIgnore" value="sd-approvals,vp-origin,sd-sla-field,devsummarycf" />
    <add key="UserWildcard" value="." />
  </JiraSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.11.0.0" newVersion="6.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
